.container {
    width: 100%;
    max-width: 34.375em;
    margin: 0 auto;
}

/* Header */

header {
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    color: #FFFFFF;
    padding: 1.25em;
}

nav {
    display: flex;
    align-items: center;
}

.header--logo {
    width: 2em;
    margin-right: 0.44em;
}

.header--logo-text {
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 1.5em;
    letter-spacing: -0.1em;
    margin-right: auto;
}

.header--course-title {
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 0.94em;
}

/* Meme form component */
.memeform--container {
    padding: 2.25em;
}

.memeform {
    display: flex;
    flex-direction: column;
    gap: 0.94em;
}

.memeform--inputs {
    display: flex;
    justify-content: space-between;
}

.memeform--input {
    font-size: 0.75rem;
    padding: 11px;
    border-radius: 5px;
    border: 1px solid #D5D4D8;
    width: 48%;
}

.memeform--get-image-btn {
    width: 100%;
    padding: 11px 0;
    font-size: .9rem;
    font-weight: 600;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    color: #FFFFFF;
    letter-spacing: -0.06em;
    border: unset;
    border-radius: 5px;
}